预发布
连锁店管理 http://wallet.aumoce.com/manage/qrcodeApplyMapping/walletQrcodeApplyMapping/index.html
推广码管理 http://wallet.aumoce.com/manage/qrcodePromote/walletQrcodePromote/index.html


正式
连锁店管理 http://wallet.cnvex.cn/manage/qrcodeApplyMapping/walletQrcodeApplyMapping/index.html
推广码管理 http://wallet.cnvex.cn/manage/qrcodePromote/walletQrcodePromote/index.html