Twisted-18.7.0-cp36-cp36m-win_amd64.whl=https://download.lfd.uci.edu/pythonlibs/h2ufg7oq/Twisted-18.7.0-cp36-cp36m-win_amd64.whl
pywin32-224-cp36-cp36m-win_amd64.whl=https://download.lfd.uci.edu/pythonlibs/h2ufg7oq/pywin32-224-cp36-cp36m-win_amd64.whl